{* This is the welcome page, you can delete it *}

{block head}

{/block}

{block content}

{var $debug = isset($root['system']['request']['css']) ? 'debug' : '' }


			
{/block}
{block scripts}{/block}
{block footer}{/block}