
// _base.scss

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; 
    background-color: $light-base;

    .content-wrapper {
        overflow: auto;
    }
}

.site-wrapper {
    width: 100%;
}




