/* 
    Created on : 23.2.2018, 23:37:57
    Author     : Milan Machacek
*/

.material-switch > label > input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label > input[type="checkbox"]::before {
    background: rgb(100, 100, 100);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -2px;
    margin-left: -4px;
    position:absolute;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label > input[type="checkbox"]::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -2px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > label > input[type="checkbox"]:checked::before {
    background: inherit;
    opacity: 1;
}
.material-switch > label > input[type="checkbox"]:checked::after {
    background: inherit;
    left: 20px;
}
