#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#



parameters:
	mailer:
		host:		'smtp.gmail.com'
		username:	'cms.jsvyvoj@gmail.com'
		password:	'CMS-jsvyvoj-657'
		port:		'465'
		secure:     'ssl'

	paginator:
		itemPerPage: 60

	imageTemp:		'img'
	imgCuts:		'/img-cuts/'
	mediaDir:		'/media'

	glCache:
		time: '5 minutes'
		name: 'glCache'
		tempDir: %appDir%/../temp/





application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: %appDir%/../temp/sessions



services:
	glCache: \GlueWork\glCache\glCacheExtension

	router: App\RouterFactory::createRouter
	- App\Components\Mailer\Mailer

	- App\Security\AuthorizatorFactory
	Authorizator:
		class: Nette\Security\Permission
		factory: @App\Security\AuthorizatorFactory::create

	#
	# MODELS
	#
	
	checkTables: App\Model\CheckTables
	
	aclResourceModel: App\Model\AclResourceModel
	aclRoleModel: App\Model\AclRoleModel
	aclAllowModel: App\Model\AclAllowModel
	
	userManager: App\Model\UserManager
	userModel:	App\Model\UserModel
	userMetaModel:	App\Model\UserMetaModel
	userRoleModel:	App\Model\UserRoleModel


