

services:
	- App\Forms\FormFactory

	- App\Forms\AclAddResourceFactory
	- App\Forms\AclAddRoleFactory
	- App\Forms\AclEditAllowFactory

	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	
	- App\Forms\UserEditFactory



