
# general laout

layout:
    brandName:          "CMS nette"
    brandNameAlt:       "CMS"
    logout:             "Odhlásit"
    toggleNavigation:   "Přepnutí navigace."


# sign in

signIn:
    keepSigned:         "Pamatovat přihlášení"
    errorLogin:         "Zadali jste špatné jméno nebo heslo!"
    forgotPassword:     "Zapomenuté heslo"
    login:              "Přihlásit"
    user:               "Přihlašovací jméno"
    password:           "Heslo"
    logOut:             "Byli jste odhlášeni."
    inccorrectName:     "Zadali jste špatné jméno!"
    inccorrectPassword: "Zadali jste špatné heslo!"
    enterPassword:      "Zadejte svoje heslo"
    enterUsername:      "Zadejte přihlašovací jméno"
    maxCountFailLogin:  "Příliš mnoho neuspěšných přihlášení skuste to za hodinu!"
    blockAccount:       "Účet je zablokovaný!"
    permissionDenied:   "Přístup zamítnut!!!"
    sendMail:           "Obnovovací mail odeslán na adresu: %email%"
    sendMailSub:        "Obnovení hesla"
    sendMailMessage:    "Pro obnovení vašeho přístupu do cms klikněte na <a gref='%link%'>odkaz</a>.<br>Pokud se Vám nezobrazil link zkopírjte odkaz do prohlížeče: %link%"
    tokenNotFount:      "Link pro obnovení hesla není zprávný! Prosím zadejte znovu svuj email."
    tokenTimeOut:       "Platnost linku vypršela, link platí pouze 1 hodninu! Prosím zadejte znovu svuj email."
    passwordHasReset:   "Heslo bylo změněno můžete se přihlásit!"


form:
    send:               "Odeslat"
    save:               "Uložit"
    notValidEmail:      "Email nemá správný formát!"
    enterPassword:      "Vložte heslo:"
    repeatPassword:     "Opakujte heslo:"
    enterEmail:         "Vložte email:"
    enterUsername:      "Vložte přihlašovací jméno:"
    enterName:          "Vložte jméno:"
    lenghtPassword:     "Heslo musí být minimálně %lenght% znaků dlouhé a musí obsahovat malé, velké písmeno číslo číslo!"
    regueitPassword:    "Heslo je povinné!"
    notMatchPassword:   "Hesle se neschodují!"
    takenUsername:      "Uživatelské jméno je již použito!"
    paswordNumber:      "Heslo musí obsahovat číslo!"
    passowrdUper:       "Heslo musí obsahovat velké písmeno!"
    passwordLover:      "Heslo musí obsahovat malé písmeno!"
    requietUsername:    "Přihlašovací jméno je povinné!"
    reguietPassword:    "Vložte heslo!"
    requietName:        "Vložte jméno"
    forgotUser:         "Přihašovací jméno nebo heslo:"
    requietForgotUser:  "Přihašovací jméno nebo heslo je povinné!"
    notfoundUser:       "Uživatel %name% nenalezen!"

# settings
settings:
    label:              "Nastavení"


    role:
        labelTranslate: "Překlad"
        guest:          "Nepřihlášený uživatel"
        user:           "Základní uživatel"
        editor:         "Editor"
        admin:          "Administrátor"
        labelForm:      "Přidat roli:"
        labelFormData:  "Role:"
        labelLink:      "Link"
        labelOverview:  "Přehled"
        roleNotFound:   "Role id %id% nebyla nalezena!"    
        labelRemoveRole:    "Smazat"
        labelFormRequired:  "Vložte nové roli!"
        labelFormTarget:    "Module: (Admin, Api)"
        labelSave:          "Uložit"
        inccorrectRole:     "Role je již nastaveno"
        permissionDenied:   "Role id %id% se nejde editovat!"

    acl:
        label:          "Oprávnění"
        labelRole:      "Role"
        labelAllow:     "Přístup"
        labelResource:  "Zdroje"
        addResource:    "Přidat zdroj"
        addRole:        "Přidat roli"
        editAllow:      "Změnint přístup"
        labelDashboard: "Přehled"

    resource:
        labelLink:      "Link"
        labelSend:      "Vložit"
        labelSave:      "Uložit"
        labelForm:      "Přidat oprávnění:"
        labelFormData:  "Oprávnění:"
        
        labelFormTarget:     "Module: (Admin, Api)"
        labelAcessdenied:    "Není přístup"
        labelRemoveResource: "Smazat"
        labelFormRequired:   "Vložte nové oprávnění!"
        inccorrectResource:  "Oprávnění je již nastaveno"
        titleSetResource:    "Nastavení oprávnění pro roli:"

    user:
        labelLink:      "Link"
        labelUser:      "Uživatel"
        labelUsers:     "Uživatelé"
        labelAllUsers:  "Všichni uživatelé"
        labelSettings:  "Nastavení uživatelů"
        name:           "Jméno"
        role:           "Role"
        email:          "Email"
        status01:       "Přístup do cms:"
        status0:        "zakázán"
        status1:        "povolen"
        userName:       "User name"
        edit:           "Změnit"
        notFound:       "Uživatel %id% nenalezen"
        userOverview:   "Přehled informací o oživateli:"
        editUser:       "Upravit uživatele:"
        statusForm:     "Přístup do cms:"
        userIdForm:     "ID uživatele:"
        userEmailForm:  "Email:"
        userNameForm:   "Přihlašovací jméno:"
        save:           "Uložit"
        changePsw:      "Nové heslo:"
        lowPass:        "Heslo je příliš krátké!"
        accessDenied:   "Přístup zamítnut"
        addNewUser:     "Přidat nového uživatele."
        newUser:        "Nový uživatel:"
    
    
    privilege:
        label:          "Api přístup"
        labelCurrent:   "Jenom aktální uživatel"
        labelAll:       "Všechny"
        labelNone:      "Bez přístupu"


imageGallery:
    head:               "Galerie"
    upload:             "Stáhnout"
    all:                "Vše"
    addFile:            "Přidat soubor"
    addFolder:          "Přidat složku"
    dragFileHere:       "Přetánout soubor sem"
    download:           "Stáhnou"
    storno:             "Storno"
    author:             "Autor:"
    name:               "Název:"
    description:        "Popis:"
    state:              "Staženo:"
    retry:              "Opakovat"